

/* CSS BY Lilly/Liliana Mena */
/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ROOT VARIABLES */
:root{
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
	/* background */
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
	/* lettering */
    --soft-white: #FAF9F6; 
	--box-shadow: 0px 2px 4px 1px rgba(43,43,43,0.3);
    --font: "Playfair Display";
}
/* GLOBAL STYLES (mobile first/small) */
*{ box-sizing: border-box;
    max-width: 100%;
}
html, body{
    max-width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas:
	"header"
	"main"
	"footer"; 
    background-color: var(--linen); 
    font-family: var(--font);
    line-height: 1.5;
}
header{
    grid-area: header;
}

header img{
    padding: 1em;
    max-width: 300px;
}

header,footer{
    width:100%; /* makes  */
    text-align: center;
    color:var(--soft-white);
    background-color:var(--midnight-blue);
}
header ul{
    display:grid; 
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: var(--champagne-gold);
	color: var(--midnight-blue);
	font-weight: 850;
	font-size:  large;
    padding: 1% 0;
}

header p{
    font-style: italic;
    font-size: 1.2em; 
    padding: 1em;
    /* margin: 1em 0px ; */
    
}

h1{
	font-size: 4em;
	font-weight: bold;
    line-height: 1;
}
h2{
	font-size: 2em;
    font-weight: 450;
    color: var(--midnight-blue);
    padding-top: 2px;

}

h3{ 
	font-size: 1.6em;
	font-weight: bold;
}

main{
    width:100%;
    display: grid;
    justify-content: center;
    justify-items: center;
    background-color: var(--linen); 
    margin-top: 4em;
    margin-bottom: 2em;
    /* font-size: 1.5; */
}
section> p{
    color: var(--dark-charcoal);
}
.content{
    max-width: 1000px;
    width:90%;
    display:grid;
    /* gap: 1em; */
}
.content > *{
     padding-bottom: 15px;  
     border-bottom: 2px var(--champagne-gold) solid;
}
section > div {
     margin: 15px auto;  
}
section > div > *{
    border-radius: 9px;
    box-shadow: var(--box-shadow);
}
.first,.second{
    display:grid;
    grid-template-columns: 1fr;
    justify-content: space-evenly;
    gap:20px; 

}
.gr{
    height: 100%; 
    display: grid;
	background-color: var(--olive-green);
	color: var(--soft-white);
    padding:15px;  
}
.gr ul{
    list-style-type: disc;
    list-style-position: inside;
}

main div img{
    width: 100%;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    padding: 0px;
   
}
.enclose{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center; 
    align-content: start;
    background-color: var(--soft-white);
    }


.enclose p{
    text-align: center;
    font-size: small;
    font-style: italic; 
    padding: 9px 23px;
   
}

section button{
    margin: 0 auto;
    display:grid;
    justify-content: center;
    justify-items: center;
    margin-bottom: 10px;
}
button{
    background-color: var(--olive-green);
    border-radius: 9px;
    padding: 15px 20px;
    color: var(--soft-white);
    font-family: var(--font);
    font-size:  large;
    font-weight: bold;
    width: 100%;
    border: none;
}
footer{
    padding:20px;
}
address{
    padding-top: 40px;
}
footer a{
    text-decoration: none;
    font-weight:bold;
    color: var(--champagne-gold);
}

/* MEDIA QUERY (medium) */
@media screen and (min-width: 600px){
    .enclose.p{
        font-size: medium;
    }
   .first{
        display: grid;
        justify-content: space-between;
        align-items: center;
        grid-template-columns: 1fr 1fr;
    }
    main section{
        grid-column: 1/-1;
    }
    #field{
        grid-column: 1/-1;
    }
    .second{
        display: grid;
        justify-content: center;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}
/* MEDIA QUERY (large) */
@media screen and (min-width: 900px){
        .second{
        display: grid;
        justify-content: center;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
}
/* MEDIA QUERY (xl) */
@media screen and (min-width:1200px){
        .first{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
    }
     .second{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
    }
}